<div class="h-screen bg-gray-100">
  <div class="card container mx-auto h-full transition-all">
    <div>
      
    </div>
    <button class="transition transform hover:-translate-y-1 motion-reduce:transition-none motion-reduce:transform-none ...">
      Hover me
    </button>
  </div>
</div>