/* You can add global styles to this file, and also import other style files */
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.card {
    background: #c6fce8;
    background-image: url("assets/card-bg.png");
}
